.logoLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border-bottom: 1px solid #dadada;

  .logo {

  }

  .links {
    display: flex;
    justify-content: end;
  }
}