@import '../../../style/vars';

.logoLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 110px;
  border-bottom: 1px solid $gray;

  .logo {
    display: flex;
    max-width: 160px;

    img {
      margin: auto;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 240px;
  }
}