@import '../../../style/vars';

.footerInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  @include flexRow;

  .contentWrap {
    @include contentWrap;

    span {
      color: $darkgrey;
      @include upperCaseSimpleText(12px);
    }

    .footerNav {
      @include upperCaseSimpleText(12px);
    }
  }

  @media screen and (max-width: 480px) {
    .contentWrap {
      flex-direction: column;

      span {
        @include upperCaseSimpleText(10px);
      }
    }
  }
}