@import '../../../style/vars';

.footerInfo {
  width: 100%;
  height: 60px;
  padding: 0 16%;
  @include flexRow;

  p {
    color: $darkgrey;
    @include upperCaseSimpleText(12px);
  }

  .footerNav {
    @include upperCaseSimpleText(12px);
  }
}