@import '../../../../style/vars';

%baseTextBlock {
  h2 {
    color: $darkgrey;
    margin-bottom: 24px;
    line-height: 24px;
    @include upperCaseSimpleText(24px);
  }

  p {
    @include simpleText;
    margin-bottom: 22px;
  }
}

.mainSection {
  display: grid;
  grid-template-rows: 260px 165px;
  grid-gap: 50px 0;
  padding: 50px 20px;
  max-width: 980px;
  margin: 0 auto;

  .topField {
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-gap: 0 30px;

    .aboutPageImg {
      justify-self: end;
      max-height: 260px;
      max-width: 380px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .aboutText {
      @extend %baseTextBlock;
      max-width: 530px;
      margin-top: -3px;
    }
  }

  .downField {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 50px;

    .missionText {
      justify-self: start;
      max-width: 445px;
      @extend %baseTextBlock;
    }

    .factsText {
      max-width: 445px;
      @extend %baseTextBlock;
    }
  }

  @media screen and (max-width: 940px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    justify-items: center;
    padding: 20px;
    .topField {
      grid-template-columns: 1fr;
      grid-gap: 20px 0;

      .aboutPageImg {
        justify-self: center;
      }

      .aboutText {

      }
    }
    .downField {
      grid-template-columns: 1fr;
      grid-gap: 20px 0;

      .missionText, .factsText {
        max-width: 530px;
      }
    }
  }
}