@import '../../../style/vars';

.footerTitle {
  display: flex;
  height: 140px;
  width: 100%;
  background-color: $dark;

  .contentWrap {
    @include contentWrap;

    h1 {
      color: $white;
      padding-right: 20px;
      @include upperCaseSimpleText(24px);
    }

    .footerButton {
      width: 220px;
    }
  }

  @media screen and (max-width: 480px) {
    height: 120px;
    .contentWrap {
      flex-direction: column;
      text-align: center;

      h1 {
        padding-right: 0;
        @include upperCaseSimpleText(18px);
      }

      .footerButton {
        margin-top: 10px;
      }
    }
  }
}