@import '../../../style/vars';

.footerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
  width: 100%;
  padding: 0 17%;
  background-color: $dark;

  h1 {
    font-size: 24px;
    @include titleText;
  }

  .footerButton {
    width:220px;
  }
}