@import '../../../../../style/vars';

.carouselInfo {
  display: grid;
  grid-gap: 0 60px;
  align-items: center;
  grid-template-areas: 'button-l info button-r';

  .leftButton, .rightButton {
    display: grid;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    @include changeSvgColor($green);
  }

  .leftButton {
    grid-area: button-l;
  }

  .rightButton {
    grid-area: button-r;
    transform: rotate(180deg);
  }

  .info {
    text-align: center;
    grid-area: info;

    h3 {
      color: $gray;
      margin-bottom: 15px;
      @include upperCaseSimpleText(18px);
    }

    p {
      color: $gray;
      max-width: 475px;
      @include simpleText;
    }
  }
  @media screen and (max-width: 480px) {
    grid-gap: 0 20px;
    .info{
      h3{
        color: $gray;
        margin-bottom: 0;
        @include upperCaseSimpleText(16px);
      }
      p{
        display: none;
      }
    }
  }
}