.contacts {
  .contactsContent{
    display: grid;
    grid-template-rows: 500px 665px;
    .googleMap{
      width: 100%;
      .map{
        width: 100%;
        height: 100%;
        border: 0;

      }
    }
    .informationField{
      display: grid;
      grid-template-columns: 56fr 27fr;
      gap: 0 110px;
      max-width: 940px;
      margin: 50px auto;
      border: 1px solid gray;
      .form{

        border: 1px solid gray;
      }
      .contactInfo{
        border: 1px solid gray;
      }
    }
  }
}
