@import '../../../../style/vars';

.banner {
  display: grid;
  grid-area: banner;
  justify-items: center;
  align-items: center;

  .bannerImg {
    position: relative;
    display: flex;

    .bannerBackground {
      width: 100%;
      height: 100%;
      margin: auto;
    }

    .animateImg1, .animateImg2, .animateImg3 {
      position: absolute;
      bottom: -12%;
    }

    .animateImg1 {
      height: calc(1vw * 13 + 35px);
      right: 15vw;
    }

    .animateImg2 {
      height: calc(1vw * 24 + 45px);
      right: 18vw;
    }

    .animateImg3 {
      height: calc(1vw * 19 + 45px);
      right: 28vw;
    }
  }

  .bannerInfo {
    display: grid;
    align-items: end;
    justify-items: center;
    grid-template-rows: 1fr 115px;
    height: 270px;

    p {
      text-align: center;
      text-wrap: normal;
      max-width: 755px;
      padding: 0 10px;
      color: $gray;
      @include upperCaseSimpleText(12px);
    }

    .bannerButton {
      width: 185px;
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 480px) {
    .bannerInfo {
      height: 200px;

      p {
        @include upperCaseSimpleText(10px);
      }
    }
  }
}