@import '../../../../../style/vars';

.inputWrapper {
  width: 100%;
  position: relative;
}

.input {
  width: 350px;
  height: 45px;
  @include simpleText;
  background-color: white;
  border: 2px solid $darkgrey;
  outline: 0;
  padding: 0 15px;

  &:focus {
    outline: 0;
    border: 2px solid $green;
  }
}

.textarea {
  width: 100%;
  height: 220px;
  overflow-wrap: break-word;
  padding: 15px;

  &::-webkit-scrollbar {
    opacity: 0;
  }

  scrollbar-width: none;
}

.error {
  border: 2px solid $error;

  &:focus {
    outline: 0;
    border: 2px solid $error;
  }
}

.errMsg {
  position: absolute;
  left: 0;
  bottom: -18px;
  @include simpleText;
  color: $error;
}
