@import '../../../style/vars';

.pageTitle {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: $green;

  .contentWrap {
    @include contentWrap;

    h1 {
      color: $white;
      @include upperCaseSimpleText(30px);
      @media screen and (max-width: 480px) {
        @include upperCaseSimpleText(24px);
      }
    }
  }
}