@import '../../../style/vars';

.navFooter {
  @include flexRow;

  p {
    margin: 0 7px;
    color: $darkgrey;
    @include upperCaseSimpleText;
  }
}

.navHeader {
  height: 75px;
  line-height: 75px;
}