$gray: #dadada;
$darkgrey: #737373;
$lightGrey:#efefef;
$green: #2ecc71;
$dark: #322f2f;
$fontColor: #a5a5a5;
$iconsHoverColor: #00bbf5;
$white: #ffffff;

@mixin simpleText {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: $fontColor;
}
@mixin upperCaseSimpleText($fontSize) {
  font-family: Novecent, sans-serif;
  font-size: $fontSize;
}

@mixin titleText {
  font-family: Novecent, sans-serif;
  color: $white;
}

@mixin navText {
  font-family: Novecent, sans-serif;
  font-size: 18px;
  transition: 0.3s;
}

@mixin button {
  height: 40px;
  font-family: Novecent, sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: center;
  color: $white;
  cursor: pointer;
  background-color: $green;
}

@mixin flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin changeSvgColor($color) {
  path {
    transition: 0.5s;
  }

  &:hover {
    path {
      fill: $color;
    }
  }
}
