@import '../../../../style/vars';

.formWrapper {
  max-width: 560px;

  p {
    @include simpleText;
    margin-bottom: 22px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .submitButton {
      width: 135px;
    }
  }
}