.carousel {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: carousel;
  min-height: 550px;
  overflow: hidden;
  padding: 50px 0;

  @media screen and (max-width: 480px) {
    padding: 20px 0;
  }
}