@import '../../../style/vars';

.work {

  .workContent {
    max-width: 940px;
    margin: 0 auto;

    .filterAndStyle {
      display: grid;
      grid-template-columns: minmax(280px, 40fr) minmax(40px, 7fr);
      margin-top: 50px;
    }

    .noResultsMessage {
      @include upperCaseSimpleText(24px);
      color: $darkgrey;
      margin: 100px 0;
    }
  }
}
